@media screen and (max-width: 600px) {
  aside#sidebar {
    margin-top: 0px;
    padding-top: 0px;
    border-top: none;
  }
}

#menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu-item {
    padding-bottom: 5px;
}